# Week 6: Text mining

This notebook shows an assignment were the Naive Bayes model is used. Na√Øve Bayes 

For this assignment I use the Naive Bayes bag of words model. This model can be applied to a text document, before I really can deploy this model I need to get rid of stop words and bring the words back to their word stem, it's time to get into business!

Now that the words are reduced to their stem, we can count them. Its a bag of words (so to say) because the wordcount is random and only words are counted (so like husseling a bag and grabbing one of the items that's in the bag out of it.)

What we can do now is use this kind of quantification of text for a statistic model, which is what the Naive Bayes does. By calculating the probability that an item falls in a certain category, the algorithm can make a calculation predicting what the odds are that a certain word fits into one category or another.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer

## Loading the CSV file
Started out with loading in the csv dataset.

In [2]:
df = pd.read_csv('Assignment_text_mining.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

## Pre processing steps

Next I created dummy variables for the positve and negative reviews.

In [3]:
df['Classification'] = np.nan
df.loc[df['Rating'] > 3, 'Classification'] = 'Positive' 
df.loc[df['Rating'] < 4, 'Classification'] = 'Not Positive' 
df = pd.get_dummies(df, columns=['Classification'])
df_dresses = df[(df['Class Name'] == 'Dresses')]
df_dresses = df[['Review Text', 'Classification_Positive']]
df_dresses.head()

                                         Review Text  Classification_Positive
0  Absolutely wonderful - silky and sexy and comf...                        1
1  Love this dress!  it's sooo pretty.  i happene...                        1
2  I had such high hopes for this dress and reall...                        0
3  I love, love, love this jumpsuit. it's fun, fl...                        1
4  This shirt is very flattering to all due to th...                        1

## Creating a dictionary 

I convered the text to Unicode, because it is the standard text format to be able to create a dictionary.

In [4]:
text = df_dresses['Review Text'].values.astype('U') 
vect = CountVectorizer(stop_words='english') 
vect = vect.fit(text)
vect
feature_names = vect.get_feature_names() 
feature_names
print(f"There are {len(feature_names)} words in the vocabulary. A selection: {feature_names[10:20]}")

There are 13856 words in the vocabulary. A selection: ['0p', '0petite', '0r', '0verall', '0xs', '10', '100', '1000', '100lb', '100lbs']

## Creating a document-feature matrix

Now that the dictionary is made, I counted the occurences of each word for each review, to eventually be able to make a document-feature matrix. This way, we can create a document-feature matrix, with documents (reviews) in the rows, and features (words) in the columns.

In [5]:
docu_feat = vect.transform(text) 
print(docu_feat)

  (0, 581)	1
  (0, 2788)	1
  (0, 10684)	1
  (0, 10929)	1
  (0, 13631)	1
  (1, 1446)	2
  (1, 1845)	1
  (1, 3537)	1
  (1, 3701)	1
  (1, 4035)	1
  (1, 5421)	1
  (1, 5725)	1
  (1, 5930)	1
  (1, 6667)	1
  (1, 6754)	1
  (1, 6986)	1
  (1, 7137)	1
  (1, 7257)	2
  (1, 7671)	1
  (1, 8364)	1
  (1, 8432)	1
  (1, 8889)	3
  (1, 9340)	1
  (1, 11293)	1
  (1, 11631)	1
  :	:
  (23484, 8206)	1
  (23484, 8839)	1
  (23484, 8842)	1
  (23484, 10864)	1
  (23484, 11385)	1
  (23484, 11864)	1
  (23484, 12082)	1
  (23484, 12091)	1
  (23484, 12939)	1
  (23484, 13281)	1
  (23484, 13316)	1
  (23484, 13380)	1
  (23484, 13414)	1
  (23484, 13685)	1
  (23485, 2796)	1
  (23485, 4035)	1
  (23485, 4163)	1
  (23485, 4796)	1
  (23485, 4884)	1
  (23485, 5893)	1
  (23485, 7264)	1
  (23485, 8842)	1
  (23485, 9058)	1
  (23485, 9774)	1
  (23485, 13390)	1

## Train and test sets
Here I splited the data 70-30: 70% to train our model and 30% to test our model with data.

In [6]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB() 

X = docu_feat 
y = df_dresses['Classification_Positive']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

nb = nb.fit(X_train, y_train)

In [7]:
y_test_p = nb.predict(X_test)
nb.score(X_test, y_test)

0.8685779165483962

The evaluation tells me that the model is 87% accurate. Which is fine, but this can be better.

## Creating a confusion matrix

Next I created a confusion matrix to be able to calculate and evaluate the precision and recall.

In [8]:
cm = confusion_matrix(y_test, y_test_p)
cm = pd.DataFrame(cm, index=['Positive', 'Negative'], columns=['Pred Positive', 'Pred negative'])
cm

          Pred Positive  Pred negative
Positive           1097            518
Negative            408           5023

In [9]:
print(f"The precision for a positive review is: {cm.iloc[0,0]/(cm.iloc[0,0]+cm.iloc[1,0])}") #this uses the coordinates of the confustion matrix
print(f"The recall for a positive review is: {cm.iloc[0,0]/(cm.iloc[0,0]+cm.iloc[0,1])}")
print(f"The precision for a negative review is: {cm.iloc[1,1]/(cm.iloc[1,1]+cm.iloc[0,1])}")
print(f"The recall for a negative review is: {cm.iloc[1,1]/(cm.iloc[1,1]+cm.iloc[1,0])}")

The precision for a positive review is: 0.7289036544850498
The recall for a positive review is: 0.6792569659442724
The precision for a negative review is: 0.906515069482043
The recall for a negative review is: 0.9248757134965936

The recall and precision for a positive review are acceptable, but a bit low.

In [10]:
from sklearn.naive_bayes import MultinomialNB
df["Rating_Prediction"] = nb.predict(X)


df_dresses = df[['Review Text', 'Classification_Positive', 'Rating_Prediction']]
df_dresses.head(23000)

,Review Text,Classification_Positive,Rating_Prediction
0,Absolutely wonderful - silky and sexy and comf...,1,1
1,Love this dress! it's sooo pretty. i happene...,1,1
2,I had such high hopes for this dress and reall...,0,0
3,"I love, love, love this jumpsuit. it's fun, fl...",1,1
4,This shirt is very flattering to all due to th...,1,1
...,...,...,...
22995,Oh what a disappointment! i was looking forwar...,0,0
22996,Got this in the petite xs in mint; the color i...,1,1
22997,"These socks are soft and comfortable, and they...",1,1
22998,"Beautiful, unique design. it's very flattering...",1,0
22999,I had my eye on this for a while and finally p...,1,1

In [11]:
df_dresses.iloc[1]

Review Text                Love this dress!  it's sooo pretty.  i happene...
Classification_Positive                                                    1
Rating_Prediction                                                          1
Name: 1, dtype: object

In [12]:
df_dresses.iloc[2]

Review Text                I had such high hopes for this dress and reall...
Classification_Positive                                                    0
Rating_Prediction                                                          0
Name: 2, dtype: object

The first two were correctly identified. Now I am going to take a random number to see if thats correctly or indirectly identified.

In [13]:
df_dresses.iloc[22998]

Review Text                Beautiful, unique design. it's very flattering...
Classification_Positive                                                    1
Rating_Prediction                                                          0
Name: 22998, dtype: object

In [14]:
df_dresses["Review Text"].iloc[22998]

"Beautiful, unique design. it's very flattering the way the fabric hangs.\n\ni usually wear a 10, but because the lining is much smaller than the dress (which many linings are... it's a pet peeve of mine), i sized up to a 12 and took in the shoulders a couple inches so the bodice area would sit correctly on my bust. otherwise in the 10 my stomach would feel squeezed even if it looked like it fit perfectly. that said, i'm very sensitive to that kind of thing.\n\nother reviewers have noted that the emb"

### Model evaluation

I will probably use this model because the chances of getting a high prediction are good.